<body>

<h2>Restablecer Contraseña</h2>
<p class="text-danger">{{formError}}</p>

<form [formGroup]="resetPassForm" (ngSubmit)="resetPass()">
    <!-- Campos del formulario -->
    <label for="password">Contraseña:</label>
    <input formControlName="password" type="password" id="password" [(ngModel)]="password" />
    <div *ngIf="pass?.invalid && (pass?.dirty || pass?.touched)" class="text-danger">
        <div *ngIf="pass?.errors?.['required']">
          La contraseña es requerida
        </div>
        <div *ngIf="pass?.errors?.['minlength']">
          El tamaño mínimo es de 8 caracteres
        </div>
    </div>
    <label for="confirmPassword">Confirmar Contraseña:</label>
    <input formControlName="passwordR" type="password" id="confirmPassword"  />
    <div *ngIf="passR?.invalid && (passR?.dirty || passR?.touched)" class="text-danger">
        <div *ngIf="passR?.errors?.['required']">
          La contraseña es requerida
        </div>
        <div *ngIf="resetPassForm.hasError('passwordMismatch')" class="text-danger">
          Las contraseñas no coinciden
        </div>                                      
      </div>
    <button type="submit">Restablecer Contraseña</button>
</form>



</body>