<app-header></app-header>

<body>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/images/doctora.png" alt="Imagen Izquierda" class="img-fluid">
    </div>
    <div class="col-md-4">
      <form [formGroup]="resetPassForm" (ngSubmit)="resetPass()">
        <div class="bg-white p-4 border shadow-lg p-3 mb-5 bg-body rounded login-form">
          <h6 class="text-center text-black learnsync-title">LEARNSYNC</h6>
          <h3 class="text-center text-primary recuperar-title">Restablecer contraseña</h3>
          <p class="text-center text-black">Recupera tu contraseña</p>
          <div class="mb-3 p-2 input-group-white-bg">

            <div class="mb-3 p-2 input-group-white-bg">
              <label for="password" class="form-label">Contraseña </label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
                <input formControlName="password" type="password" class="form-control" id="password" placeholder="Contraseña" aria-describedby="password">
            </div>
            </div>

            <div *ngIf="pass?.invalid && (pass?.dirty || pass?.touched)" class="text-danger">
              <div *ngIf="pass?.errors?.['required']">
                La contraseña es requerida
              </div>
              <div *ngIf="pass?.errors?.['minlength']">
                El tamaño mínimo es de 8 caracteres
              </div>
            </div>

            <div class="mb-3 p-2 input-group-white-bg">
              <label for="password" class="form-label">Confirmar contraseña: </label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
                <input formControlName="passwordR" type="password" class="form-control" id="confirmPassword" placeholder="Confirmar contraseña" aria-describedby="repeat_password">
              </div>
            </div>


            <div *ngIf="passR?.invalid && (passR?.dirty || passR?.touched)" class="text-danger">
              <div *ngIf="passR?.errors?.['required']">
                La contraseña es requerida
              </div>

            </div>
          </div>

          <div class="text-center m-3 p-3 d-grid gap-2 mx-auto col-12 container-white-bg">
            <button type="submit" class="btn btn-primary iniciar-sesion-button">Restablecer Contraseña</button>
            <button type="button" [routerLink]="['/login']" class="btn btn-outline-dark">Regresar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <img src="/assets/images/doctor.png" alt="Imagen Derecha" class="img-fluid">
    </div>
  </div>
</div>
</body>



<app-footer></app-footer>
