<body>
<div class="container-general">

  <div class="row">
    <div class="column">
      <div class="container">
        <div class="content">
          <div>
            <div class="title">Huesos del Cráneo</div>
            <div class="description">8 tarjetas</div>
          </div>
          <button class="button" routerLink="/intranet/flashcards/ver-flashcard">Revisar</button>
        </div>
      </div>
    </div>

    <!-- Repite estos bloques para las otras 3 columnas y 3 filas -->
    <div class="column">
      <div class="container">
        <div class="content">
          <div>
            <div class="title">Huesos del Cráneo</div>
            <div class="description">8 tarjetas</div>
          </div>
          <button class="button" routerLink="/intranet/flashcards/ver-flashcard">Revisar</button>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="container">
        <div class="content">
          <div>
            <div class="title">Huesos del Cráneo</div>
            <div class="description">8 tarjetas</div>
          </div>
          <button class="button" routerLink="/intranet/flashcards/ver-flashcard">Revisar</button>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="a" *ngIf="esRutaFlashcard()"></div>

</body>
