body {
  background-color: #f4f4f4; /* Cambiado a un fondo más claro */
  padding: 20px;
  margin: 0;
}

.card-no-border .card {
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.comment-widgets .comment-row {
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  padding: 15px;
  transition: background 0.3s ease; /* Agregada transición suave al hacer hover */
}

.comment-widgets .comment-row:hover {
  background: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

.comment-text:hover {
  visibility: hidden;
}

.comment-text:hover {
  visibility: visible;
}

.label {
  padding: 3px 10px;
  line-height: 13px;
  color: #ffffff;
  font-weight: 400;
  border-radius: 4px;
  font-size: 75%;
}

.round img {
  border-radius: 100%;
}

.label-info {
  background-color: #1976d2;
}

.label-success {
  background-color: green;
}

.label-danger {
  background-color: #ef5350;
}

.action-icons a,
.action-iconss a {
  padding: 10px;
  vertical-align: middle;
  color: #99abb4;
  transition: color 0.3s ease; /* Agregada transición suave al hacer hover */
}

.action-icons a:hover,
.action-iconss a:hover {
  color: #1976d2;
}

.body-secundario {
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #999;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  height: 500px;
}

.login-container {
  width: 300px;
  margin: auto;
  text-align: center;
}

.comentario {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  transition: background 0.3s ease; /* Agregada transición suave al hacer hover */
}

.comentario:hover {
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  padding-right: 20px;
  color: #777;
}

a:hover {
  color: black;
}

#estrella {
  color: rgb(243, 213, 18);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

#estrella:hover {
  transform: scale(1.2);
  color: rgb(255, 217, 0);
  box-shadow: 0 0 10px rgba(243, 213, 18, 0.7);
}
