<div style="background-color: #8095ff">
    <div class="container d-flex justify-content-center mt-100 mb-100 " >
        <div class="row ">
            <div class="col-md-12 ">
      
              <div class="card ">
                                   <div class="comment-widgets m-b-20 ">
                                    <div class="d-flex flex-row comment-row">
                                        <div class="p-2 ">
                                          <span class="round border-primary">
                                            <img src="https://i.imgur.com/Ay76ezG.png" alt="user" width="50" >
                                          </span>
                                        </div>
                                        <div class="d-flex flex-column justify-content-center comment-text w-100">
                                          <p class="mt-3">adpc - hace tantos minutos</p>
                                          <p class="h3 mb-2">¿Cómo citar un video en Vancouver?</p>
                                          <p class="mb-0">Solo sé citar libros, ayuden, soy adpc y Alianza perdió &gt;:c</p>
                                        </div>
                                      </div>

                                      <div class="comment-widgets mb-20">
                                        <div class="d-flex flex-row comment-row ">
                                            <div class="d-flex flex-column justify-content-center comment-text w-100">
                                                <div class="form-floating">
                                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                                    <label for="floatingTextarea2">Redacta tu respuesta.</label>
                                                  </div>
                                                  
    
                                                  <div class="action-icons active">
                                                    <a href="#" data-abc="true"><i class="fas fa-upload mt-2"></i></a>
                                                    <a href="#" data-abc="true"><i class="fas fa-bold" style="font-weight: bold;"></i></a>
                                                    <a href="#" data-abc="true" ><i class="fas fa-underline" style="text-decoration: underline; margin-top: 8px;"></i></a>
                                                    <a href="#" data-abc="true"><i class="bi bi-alphabet-uppercase display-6"></i></a>
                                                    <button type="button" class="btn btn-primary float-end mt-2 " style="margin-right: 10px; ">Comentar</button>
                                                </div>
    
    
                                            </div>
                                            </div>
                                          </div>

                                      <div class="d-flex flex-row comment-row">
                                        <div class="p-2"><span class="round"><img src="https://i.imgur.com/Ay76ezG.png" alt="user" width="50"></span></div>
                                        <div class="comment-text active w-100">
                                            <h5>Usuariocreador</h5>
                                            <div class="comment-footer">
                                                <span class="date">March 13, 2020</span>
                                            </div>
                                            <p class="m-b-5 m-t-10">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites</p>
                                            <div class="action-iconss active">
                                                <a href="#" data-abc="true" style="text-decoration: none;"><i class="bi bi-chat-left-text-fill"></i>   Contestar</a>
                                                <a href="#" data-abc="true" style="text-decoration: none;"><i class="fas fa-pencil-alt"></i>   Editar</a>
                                                <a href="#" data-abc="true" style="text-decoration: none;"><i class="fas fa-flag"></i>   Reportar</a>
                                                <a href="#" data-abc="true" style="text-decoration: none;"><i class="fas fa-trash"></i>   Eliminar</a>
                                            </div>
                                        </div>
                                    </div>
    
    
                                    <div class="d-flex flex-row comment-row">
                                        <div class="p-2"><span class="round"><img src="https://i.imgur.com/Ay76ezG.png" alt="user" width="50"></span></div>
                                        <div class="comment-text active w-100">
                                            <h5>Usuario</h5>
                                            <div class="comment-footer">
                                                <span class="date">March 13, 2020</span>
                                            </div>
                                            <p class="m-b-5 m-t-10">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites</p>
                                            <div class="action-iconss active">
                                                <a href="#" data-abc="true" style="text-decoration: none;"><i class="bi bi-chat-left-text-fill"></i>   Contestar</a>
                                            
                                                <a href="#" data-abc="true" style="text-decoration: none;"><i class="fas fa-flag"></i>   Reportar</a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    
    
    
                                    <div class="d-flex flex-row comment-row">
                                        <div class="p-2"><span class="round"><img src="https://i.imgur.com/Ay76ezG.png" alt="user" width="50"></span></div>
                                        <div class="comment-text active w-100">
                                            <h5>Admin vista</h5>
                                            <div class="comment-footer">
                                                <span class="date">March 13, 2020</span>
                                            </div>
                                            <p class="m-b-5 m-t-10">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites</p>
                                            <div class="action-iconss active">
                                                <a href="#" data-abc="true" style="text-decoration: none;"><i class="bi bi-chat-left-text-fill"></i>   Contestar</a>
                                               
                                                <a href="#" data-abc="true" style="text-decoration: none;"><i class="fas fa-trash"></i>   Eliminar</a>
                                                <a href="#" data-abc="true" style="text-decoration: none;"><i class="fas fa-ban"></i>   Banear</a>
                                            </div>
                                        </div>
                                    </div>
      
            </div>
        </div>
      </div>
</div>