<body>
    <div class="container d-flex justify-content-center">
        <div class="row ">
            <div class="col-md-12">
              <div class="card">
                                   <div class="comment-widgets m-b-20 ">
                                        <div class="d-flex flex-row comment-row">
                                            <div class="p-2 ">
                                                <span class="round border-primary">
                                                    <img src="https://i.imgur.com/Ay76ezG.png" alt="user" width="50" >
                                                </span>
                                            </div>
                                            <div class="d-flex flex-column justify-content-center comment-text w-100">
                                                <p class="mt-3">{{hiloEncontrado?.usuario?.user}} - creado el {{hiloEncontrado?.fechaCreacion}}</p>
                                                <p class="h3 mb-2">{{hiloEncontrado?.titulo}}</p>
                                                <p class="mb-0">{{hiloEncontrado?.mensaje}}</p>
                                            </div>
                                      </div>
                                    </div>
                                    <div class="comment-widgets mb-20">
                                        <div class="d-flex flex-row comment-row">
                                            <div class="d-flex flex-column justify-content-center comment-text w-100">
                                                <div class="form-floating">
                                                    <form [formGroup]="createComentarioForm">
                                                        <textarea formControlName="mensaje" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" [(ngModel)]="comentario.mensaje"></textarea>
                                                        <label for="floatingTextarea2">Redacta tu respuesta.</label>
                                                        <div *ngIf="message.invalid && (message.dirty || message.touched)" class="text-danger">
                                                            <div *ngIf="message.errors?.['required']">
                                                              <br><br><br><br>El mensaje es obligatorio
                                                            </div>
                                                        </div>
                                                        <button type="button" class="btn btn-primary float-end mt-2 " style="margin-right: 10px; " (click)="saveComentario()">Comentar</button>
                                                    </form>
                                                </div>
                                                  
    
                                                    <div class="action-icons active">
                                                        <a href="#" data-abc="true"><i class="fas fa-upload mt-2"></i></a>
                                                        <a href="#" data-abc="true"><i class="fas fa-bold" style="font-weight: bold;"></i></a>
                                                        <a href="#" data-abc="true" ><i class="fas fa-underline" style="text-decoration: underline; margin-top: 8px;"></i></a>
                                                        <a href="#" data-abc="true"><i class="bi bi-alphabet-uppercase display-6"></i></a>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    <div class="d-flex flex-row comment-row">
                                        <div class="p-2"><span class="round"><img src="https://i.imgur.com/Ay76ezG.png" alt="user" width="50"></span></div>
                                            <div class="comment-text active w-100">
                                                <h5>Usuariocreador</h5>
                                                <div class="comment-footer">
                                                    <span class="date">March 13, 2020</span>
                                                </div>
                                                <p class="m-b-5 m-t-10">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites</p>
                                                <div class="action-iconss active">
                                                    <a href="#" data-abc="true" style="text-decoration: none;"><i class="bi bi-chat-left-text-fill"></i>   Contestar</a>
                                                    <a href="#" data-abc="true" style="text-decoration: none;"><i class="fas fa-pencil-alt"></i>   Editar</a>
                                                    <a href="#" data-abc="true" style="text-decoration: none;"><i class="fas fa-flag"></i>   Reportar</a>
                                                    <a href="#" data-abc="true" style="text-decoration: none;"><i class="fas fa-trash"></i>   Eliminar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        
    
    
                                    <div class="d-flex flex-row comment-row">
                                        <div class="p-2"><span class="round"><img src="https://i.imgur.com/Ay76ezG.png" alt="user" width="50"></span></div>
                                            <div class="comment-text active w-100">
                                                <h5>Usuario</h5>
                                                <div class="comment-footer">
                                                    <span class="date">Añadir la fecha xddd</span>
                                                </div>
                                                <p class="m-b-5 m-t-10">mensaje</p>
                                                <div class="action-iconss active">
                                                    <a href="#" data-abc="true" style="text-decoration: none;"><i class="bi bi-chat-left-text-fill"></i>   Contestar</a>
                                                    <a href="#" data-abc="true" style="text-decoration: none;"><i class="fas fa-flag"></i>   Reportar</a>

                                                </div>
                                            </div>
                                    
    
    
                                    <div class="d-flex flex-row comment-row" *ngFor="let comentario of filterComentarios()">
                                        <div class="p-2"><span class="round"><img src="https://i.imgur.com/Ay76ezG.png" alt="user" width="50"></span></div>
                                        <div class="comment-text active w-100">
                                            <h5>{{comentario.userSerializer.user}}</h5>
                                            <div class="comment-footer">
                                                <span class="date">{{comentario.fechaCreacion}}</span>
                                            </div>
                                            <p class="m-b-5 m-t-10">{{comentario.mensaje}}</p>
                                            <div class="action-iconss active">
                                                <a href="#" data-abc="true" style="text-decoration: none;"><i class="bi bi-chat-left-text-fill"></i>   Contestar</a>
                                               
                                                <a href="#" data-abc="true" style="text-decoration: none;"><i class="fas fa-trash"></i>   Eliminar</a>
                                                <a href="#" data-abc="true" style="text-decoration: none;"><i class="fas fa-ban"></i>   Banear</a>
                                            </div>
                                        </div>
                                    </div> 
      
            </div>
        </div>
      </div>
    </div>
</body>