	<!-- Navigation -->
  <header class="site-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6">
          <a routerLink="/" class="logo-text">Learn<span class="logo-span">sync</span></a>
        </div>
        <div *ngIf="" class="col-6 text-end">
          <a routerLink="/login" class="header-link">Iniciar Sesión</a>
          <a routerLink="/register" class="header-link">Registrarse</a>
        </div>
      </div>
    </div>
  </header>

	<!-- End Navigation -->
