<main>
  <section class="intro-section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center text-white">
          <div class="mb-3 images-container">
            <img src="\assets\images\books-stack-of-three.png" alt="Primera Imagen" class="img-fluid image1">
            <img src="\assets\images\paper.png" alt="Segunda Imagen" class="img-fluid image2">
          </div>
          <h1>Comunícate con otros estudiantes de medicina e intercambia recursos</h1>
          <p>¡Adáptate y estudia con mayor facilidad tus cursos, intercambiando libros, documentos y tipos con otros alumnos de medicina!</p>
        </div>
      </div>
    </div>
  </section>

  <section class="forum-section container my-5">
    <div class="d-flex align-items-center justify-content-center mb-3 p-3">
      <button type="button" class="btn btn-outline-danger btn-lg" routerLink="/categorias">Ir al foro principal</button>
    </div>

    <div class="text-center mb-3 p-3">
      <span>Entendemos que la carrera de medicina es apasionante, desafiante y, a veces, un verdadero viaje de descubrimiento. Sabemos que como estudiante de medicina, buscas recursos confiables que te ayuden a sobresalir en tus estudios y a forjar un camino exitoso en el mundo de la medicina.</span>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 text-center text-lg-start text-dark d-flex align-items-center justify-content-center">
          <div>
            <p class="mb-3 p-5">Nuestra misión es simple: proporcionarte las herramientas y recursos necesarios para que alcances tu máximo potencial en esta emocionante jornada.</p>
            <p class="mb-3 p-5">¡Explora nuestro sitio y descubre cómo podemos ayudarte a alcanzar tus metas académicas y profesionales! Juntos, construyamos un futuro de salud más brillante y sólido.</p>
          </div>
        </div>
        <div class="col-12 col-lg-6 text-center text-lg-start">
          <img src="\assets\images\pastillitas.png" class="img-fluid w-75 smaller-image align-right"> <!-- Agregamos la clase smaller-image -->
        </div>
      </div>
    </div>
  </section>
</main>
