<app-header></app-header>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/images/doctora.png" alt="Imagen Izquierda" class="img-fluid">
    </div>
    <div class="col-md-4">
      <div class="login-form">
        <h6 class="text-center text-black learnsync-title">LEARNSYNC</h6>
        <h3 class="text-center text-primary iniciarsesion-title">Iniciar Sesión</h3>
        <p class="text-center text-black">Ingresa con tu cuenta</p>
        <div class="form-group">
          <label for="username">Nombre de usuario</label>
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-user"></i>
                </span>
            </div>
            <input type="text" class="form-control" id="username" placeholder="Nombre de usuario" aria-describedby="usernameHelp">
          </div>
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-lock"></i>
                </span>
            </div>
            <input type="password" class="form-control" id="password" placeholder="Contraseña" aria-describedby="passwordHelp">
          </div>
        </div>

        <div class="text-center m-3 p-3 d-grid gap-2 mx-auto col-12">
          <button type="submit" class="btn btn-primary iniciar-sesion-button">Iniciar Sesión</button>
          <p><a [routerLink]="['/recovery']">¿Olvidaste tu contraseña?</a></p>
          <button type="button" [routerLink]="['/register']" class="btn btn-outline-dark">Registrarse con una nueva cuenta</button>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <img src="/assets/images/doctor.png" alt="Imagen Derecha" class="img-fluid">
    </div>
  </div>
</div>

</body>
<app-footer></app-footer>
