<body>

<header>
  <h1>Mi perfil</h1>
</header>

<div class="container">
  <section class="profile-info">

    <div>
      <h2>{{usuarioLogeado.sub!}}</h2>
      <p>Correo: {{usuarioEncontrado?.email}}</p>
      <p>Puntos: {{usuarioEncontrado?.nroPuntos}}</p>
      <!-- Agrega más información según sea necesario -->
    </div>
  </section>

  <section class="deck-list">
    <h2>Mis Mazos</h2>

    <div *ngFor="let mazo of traerMazos()" class="container">
      <h2>Titulo: {{mazo.titulo}}</h2>
      <p> Descripcion: {{mazo.descripcion}}</p>

    </div>
  </section>


</div>





</body>
