<body>
<div id="orden" *ngIf="userLoginOn == true">
<div class="topics-container">
  <ul class="topics-list" >
    <div *ngFor="let topico of filterTopicos">
      <li (click)="link(topico)" routerLinkActive="bold">
        {{topico.nombre}}
      </li>
    </div>
  </ul>
</div>
<app-foro *ngIf="c==1" [topicoEncontrado] = "topicoEncontrado"></app-foro>
  <app-publicar-hilo *ngIf="c==0" [topicoEncontrado] = "topicoEncontrado"></app-publicar-hilo>
  <div class="main-container">
    <div class="side-container">
      <div class="user-icon">
      </div>
      <button (click)="c=0" class="publish-button">Publicar</button>

    </div>
  </div>

</div>

<div *ngIf="userLoginOn==false">
  <div class="body-secundario">
    <div class="login-container">
      <img src="/assets/images/robot.jpg"><br>
      <h3 class="text-center text-primary iniciarsesion-title">¡Vaya! Al parecer estás intentando entrar a la página</h3>
      <p class="text-center text-black">Lo siento, no te has autenticado. Autentícate para que puedas tener acceso a Learnsync.</p>
    </div>    
  </div>
</div>
</body>
