<div *ngIf="tieneAcceso()">
  <div *ngFor="let mazo of mazos">
    <img [src]="mazo.imagen" alt="Image">
    <p>{{mazo.titulo}}</p>
    <p>{{mazo.usuario.user}}</p>
    <button (click) = "practicar(mazo)" class = "create-button">Practicar</button>
  </div>
</div>

<div *ngIf="!tieneAcceso()">
  <div class="body-secundario">
    <div class="login-container">
      <img src="/assets/images/robot.jpg"><br>
      <h3 class="text-center text-primary iniciarsesion-title">¡Vaya! Al parecer estás intentando entrar a la página</h3>
      <p class="text-center text-black">Lo siento, no te has autenticado. Autentícate para que puedas tener acceso a Learnsync.</p>
    </div>
  </div>
</div>
