<body>
<div id="page-container"  *ngIf="tieneAcceso()">
  <section class="decks-container">
    <h1>Mazos de los usuarios</h1>
    <h2>
      ¡Bienvenido al mundo de los Mazos de Aprendizaje!
    </h2>
    <p>
      La herramienta que estás a punto de descubrir es tu llave para el éxito académico. Crear un mazo es como construir tu propia fortaleza de conocimiento,
      ladrillo a ladrillo. Cada tarjeta es una oportunidad para capturar ideas, conceptos y descubrimientos que te llevarán al siguiente nivel.
    </p>


    <ul class="deck-list">
      <!-- Aquí se mostrarán los mazos si los tienes -->
    </ul>
  </section>


  <div class="contenedor">
  <div *ngFor="let mazo of mazos">
    <div class="mazo-contenido">
    <img [src]="mazo.imagen" alt="Image">
    <h2>{{mazo.titulo}}</h2>
    <p>{{mazo.usuario.user}}</p>
    <a (click) = "practicar(mazo)" class = "a">Practicar</a>
  </div>
</div>
  </div>


  <div class="no-mazo" *ngIf="filterMazos(usuarioLogeado.sub).length == 0">
    <img src="/assets/images/pregunta.png" alt="Pregunta" class="question-image">
    <p class="no-decks-message">Si estas viendo esto es porque los mazos estan cargando</p>
  </div>
</div>

</body>
<div *ngIf="!tieneAcceso()">
  <div class="body-secundario">
    <div class="login-container">
      <img src="/assets/images/robot.jpg"><br>
      <h3 class="text-center text-primary iniciarsesion-title">¡Vaya! Al parecer estás intentando entrar a la página</h3>
      <p class="text-center text-black">Lo siento, no te has autenticado. Autentícate para que puedas tener acceso a Learnsync.</p>
    </div>
  </div>
</div>

