<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/images/image-12.png" alt="Imagen Izquierda" class="img-fluid">
    </div>
    <div class="col-md-4">
      <div class="bg-white p-4 border shadow-lg p-3 mb-5 bg-body rounded login-form">
        <h6 class="text-center text-black learnsync-title">LEARNSYNC</h6>
        <h3 class="text-center text-primary recuperar-title">Recuperar Contraseña</h3>
        <p class="text-center text-black">Recupera tu contraseña</p>
        <div class="mb-3 p-2 input-group-white-bg">
          <label for="email" class="form-label">Correo Electrónico</label>
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-envelope"></i>
                </span>
            </div>
            <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" aria-describedby="emailHelp">
          </div>
        </div>
        <div class="text-center m-3 p-3 d-grid gap-2 mx-auto col-12 container-white-bg">
          <button type="submit" class="btn btn-primary enviar-correo-button">Enviar correo de confirmación</button>
          <button type="button" [routerLink]="['/iniciar-sesion']" class="btn btn-outline-dark">Regresar</button>
        </div>
      </div>
    </div>

<app-footer></app-footer>
