<div id="page-container">
  <div id="search-container">
    <input type="text" id="search-box" placeholder="Buscar topico o categoria">
    <button id="search-button">Buscar</button>
  </div>


  <div class="create-buttons">
    <button routerLink="/intranet/crearcategoria" class="create-button">Crear Categoría</button>
    <button routerLink="/intranet/creartopico" class="create-button">Crear Tópico</button>
    

  </div>


  <!-- CONTENEDOR 1 -->
  <div class="container" id="container-1" *ngFor="let categoriaa of categorias">
    <h2>{{categoriaa.nombre}}</h2>
    <br>
    <div class="create-button" *ngFor="let topicoo of filterTopicos(categoriaa)">
      <button [routerLink]="['comunidad', topicoo.id]" class="create-button">
        {{topicoo.nombre}}
      </button>
    </div>
  </div>
</div>
