
<div id="page-container" *ngIf="userLoginOn==true">
  <div>
    <h3>Bienvenido, {{usuarioLogeado.sub!}}</h3>
  </div>
  <div class="create-buttons">
    <button *ngIf="this.usuarioLogeado.aud == 'ADMIN'" routerLink="/intranet/crearcategoria" class="boton">Crear Categoría</button>
    <button *ngIf="this.usuarioLogeado.aud == 'ADMIN'" routerLink="/intranet/creartopico" class="boton">Crear Tópico</button>
  </div>
  <!-- CONTENEDOR 1 -->
  <div class="container" id="container-1" *ngFor="let categoriaa of categorias">
    <div>
      <h2>{{categoriaa.nombre}}</h2>
    </div>

    <br>
    <div class="contenedor">
      <div class="create-button" *ngFor="let topicoo of filterTopicos(categoriaa)">
        <button [routerLink]="['comunidad', topicoo.id]" class="create-button">
          {{topicoo.nombre}}
        </button>
      </div>
    </div>

  </div>
</div>

<div *ngIf="userLoginOn==false">
  <body>
  <div class="col-md-4">
    <div class="login-container">
      <img src="/assets/images/robot.jpg"><br>
      <h3 class="text-center text-primary iniciarsesion-title">¡Vaya! Al parecer estás intentando entrar a la página</h3>
      <p class="text-center text-black">Lo siento, no te has autenticado. Autentícate para que puedas tener acceso a Learnsync.</p>
    </div>    
  </div>
</body>
</div>
