body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

#page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}
.contenedor{
  display: inline-flex;
  
}
.container-wrapper {
  display: flex;
  flex-wrap: wrap; /* Permite que los contenedores se envuelvan en pantallas más pequeñas */
  justify-content: center;
}

.container {
  margin: 0 auto; /* Centra el contenedor en la página */
  background-color: #e9f6ff;
  margin-bottom: 15px;
  padding: 20px;
  width: 1300px; /* Ancho ajustado  */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.container h2 {
  position: relative;
  font-size: 35pt;
  margin-top: 3px;
}

.container h2::after {
  content: "";
  display: block;
  border-bottom: 2px solid #b5ddff;
  width: 100%;
  position: absolute;
  bottom: -10px;
}

.create-buttons {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.create-button button:hover {
  background-color: #a5d8ff;
  transform: scale(1.05);
}

.create-button button {
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  background-color: #c4e3ff;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  margin: 0 5px;
}

.container button.create-button {
  margin-top: 20px;
}

.login-container {
  background-color: white;
  padding: 20px;
  text-align: center;
}

.text-black {
  color: black;
}

.text-primary {
  color: blue;
}
