.categoria-titulo {
  font-size: 30px; /* Puedes ajustar el tamaño según tus necesidades */

}

.boton-topico{
  font-size: 10px;
}
h3{
    display: inline;
    margin: 0;
 }

 h5{
  display: inline;
  margin: 0;
}

#page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.container {
  background-color: #e9f6ff; /* Color de fondo celeste claro */
  margin: 50px 0; /* Margen de separación de 50px arriba y abajo */
  padding: 20px; /* Espacio interno dentro de los contenedores */
  width: 1150px; /* Ancho de 1150px */
  height: 280px; /* Altura de 280px */
  position: relative;
  border-radius: 15px; /* Borde redondo de 15px */
}

.container h2 {
  position: relative; /* Añadimos posición relativa para el título */
  margin-top: 5px; /* Añadimos un margen superior de 5 píxeles */
}

.container h2::after {
  content: "";
  display: block;
  border-bottom: 10px solid #b5ddff; /* Línea celeste de 10px de grosor */
  width: 100%; /* Ancho completo del título */
  position: absolute;
  bottom: -10px; /* Alinear al final del título */
}

.container p {
  margin-top: 10px;
}
/* Se puede justificar ambos con justify-content: space-between; */


.create-button {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  background-color: #c4e3ff;
  font-size: 15px;
}
/* Para separar los botones y esten juntos */
.create-button + .create-button {
  margin-left: 30px;
}

.container button.create-button {
  /* Ajuste del botón "Topico" */
  margin-top: 20px; /* Modificar el espacio entre el título y el botón */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}



