	<!-- Footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Enlaces</h3>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Servicios</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Contacto</h3>
          <p>Dirección: Calle Principal, Ciudad, País</p>
          <p>Teléfono: +123456789</p>
          <p>Email: info@learnsync.com</p>
        </div>
        <div class="col-md-4">
          <h3>Redes Sociales</h3>
          <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <p>&copy; 2023 Learnsync. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
	<!-- End Footer -->
