	<!-- Footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Enlaces</h3>
          <ul>
            <li><a routerLink="/">Inicio</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Contacto</h3>
          <p>Teléfono: +51 939231234</p>
          <p>Email: info&#64;educom.com</p>
        </div>
        <div class="col-md-4">
          <h3>Redes Sociales</h3>
          <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <p>&copy; 2024 Educom. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
	<!-- End Footer -->
