.site-footer {
  background-color: #002449;
  color: #fff;
  padding: 30px 0;
}

.site-footer h3 {
  color: #fff;
}

.site-footer ul {
  list-style: none;
  padding: 0;
}

.site-footer ul li {
  margin-bottom: 5px;
}

.social-icons {
  list-style: none;
  padding: 0;
}

.social-icons li {
  display: inline;
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ccc;
}
