<nav class="navbar">
  <div>
    <a routerLink="/" class="logo-text">Learn<span class="logo-span">sync</span></a>
  </div>
  <ul class="nav-list">
    <li><a routerLink="/intranet">Home</a></li>
    <li><a routerLink="/intranet/mazos">Mazos</a></li>
    <li><a routerLink="/intranet/premio">Premios</a></li>
    <li class="dropdown">
      <a>{{usuarioLogeado.sub}}</a>
      <div class="dropdown-content">
        <a href="#">Ver Perfil</a>
        <a (click)="logout()">Cerrar Sesión</a>
      </div>
    </li>
  </ul>
</nav>
