<nav class="navbar">
  <div>
    <a routerLink="/" class="logo-text">Learn<span class="logo-span">sync</span></a>
  </div>
  <ul class="nav-list">
    <li><a routerLink="/intranet">Home</a></li>
    <li class="dropdown">
    <a routerLink="/intranet/mazos">Mazos</a>
      <div class="dropdown-content">
        <a routerLink="/intranet/mazos">General</a>
        <a routerLink="/intranet/tusmazo">Mis mazos</a>
      </div>
    </li>
    <li><a routerLink="/intranet/premio">Premios</a></li>
    <li class="dropdown">
      <a style="cursor:pointer">{{usuarioLogeado.sub}}</a>
      <div class="dropdown-content">
        <a routerLink="/intranet/miperfil">Ver Perfil</a>
        <a routerLink="" (click)="logout()">Cerrar Sesión</a>
      </div>
    </li>
  </ul>
</nav>
