<div class="main" *ngIf="tieneAcceso()">
  <div>
    <button class="boton" role="button">Crear Premio</button>
  </div>

  <div class="container" >
    <div class = "card" *ngFor="let premio of premios">
      <img [src]="premio.imagen" alt="">
      <div class="card-content">
        <h2>
          {{premio.nombre}}
        </h2>
        <p>
          {{premio.descripcion}}
        </p>
        <a href="#" class="button">
          Canjear
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!tieneAcceso()">
  <div class="body-secundario">
    <div class="login-container">
      <img src="/assets/images/robot.jpg"><br>
      <h3 class="text-center text-primary iniciarsesion-title">¡Vaya! Al parecer estás intentando entrar a la página</h3>
      <p class="text-center text-black">Lo siento, no te has autenticado. Autentícate para que puedas tener acceso a Learnsync.</p>
    </div>
  </div>
</div>
