body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 5px;
  cursor: pointer;
}

.login-container {
  width: 300px; /* Ancho del contenedor */
  margin: auto; /* Auto-margin para centrar horizontalmente */
  text-align: center; /* Centrar texto */
}

.body-secundario {
  background-color: #ffffff; /* Fondo blanco */
  padding: 15px;
  border: 1px solid #999;
  text-align: center; /* Centrado del contenido */
  margin: 0 auto; /* Centrado horizontal */
  width: 60%; /* Ancho del cuerpo secundario */
  height: 500px;
}
