<body>
    <div id="page-container">
    <div class="container" id="container-1">
        <h2>Crear Categoria</h2>
        <form>
        <h3>Nombre:</h3>
        <div id="search-container">
            <input type="text" id="search-box" required minlength="2" maxlength="20" placeholder="Ingresar el nombre de la categoria">
        </div>
        <h3>Descripción:</h3>
        <div id="search-container">
            <input type="text" id="search-box" required minlength="2" maxlength="20" placeholder="Ingresar la descripción de la categoria">
        </div>
    <div class="create-buttons">
        <button routerLink="/intranet"  class = "create-button">Cancelar</button>
        <button routerLink="#" class="create-button">Aceptar</button>
      </div>
        </form>
    </div>
</div>
</body>