body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

h3{
    margin-top: 20px;
    font-size: 22px;
    margin-left: 10px;
    margin-bottom: 10px;
}
 #page-container {
   max-width: 1200px;
   height: auto;
   margin: 0 auto;
   padding: 20px;
   background-color: #fff;
 }

 .search-container {
   display: flex;
   align-items: center;
 }

 #search-box {
   flex: 1;
   padding: 10px;
   border: 2px solid black; /* Borde negro para el cuadro de búsqueda */
   border-radius: 10px; /* Borde redondo para el cuadro de búsqueda */
 }

 #favoriteOnly{
    flex: 1;
    padding: 10px;
    border: 2px solid black; /* Borde negro para el cuadro de búsqueda */
    border-radius: 10px; /* Borde redondo para el cuadro de búsqueda */
  }
 #search-button {
   padding: 10px;
   margin-left: 10px;
   border: none; /* Quitamos el borde predeterminado */
   border-radius: 15px; /* Borde redondo para el botón de búsqueda */
   background-color: #c4e3ff; /* Color celeste para el botón de búsqueda */
 }

 .container {
   background-color: #e9f6ff; /* Color de fondo celeste claro */
   margin: 50px 0; /* Margen de separación de 50px arriba y abajo */
   padding: 20px; /* Espacio interno dentro de los contenedores */
   width: 1150px; /* Ancho de 1150px */
   height: auto; /* Altura de 280px */
   position: relative;
   border-radius: 15px; /* Borde redondo de 15px */
 }

 .container h2 {
   position: relative; /* Añadimos posición relativa para el título */
   font-size: 35pt; /* Cambiamos el tamaño de fuente a 40 puntos */
   margin-top: 5px; /* Añadimos un margen superior de 5 píxeles */
 }

 .container h2::after {
   content: "";
   display: block;
   border-bottom: 10px solid #b5ddff; /* Línea celeste de 10px de grosor */
   width: 100%; /* Ancho completo del título */
   position: absolute;
   bottom: -10px; /* Alinear al final del título */
 }

 .container p {
   margin-top: 10px;
 }
 /* Se puede justificar ambos con justify-content: space-between; */
 .create-buttons {
   display: flex;
   margin: 15px 0;
   align-items: flex-end;
 }

 .create-button {
   display: inline-block;
   padding: 10px 20px;
   border: none;
   border-radius: 15px;
   background-color: #c4e3ff;
 }
 /* Para separar los botones y esten juntos */
 .create-button + .create-button {
   margin-left: 30px;
 }

 .container button.create-button {
   /* Ajuste del botón "Topico" */
   margin-top: 20px; /* Modificar el espacio entre el título y el botón */
 }

.ng-valid:not(form).ng-touched {
  border-left: 5px solid #42a948;
}

.ng-invalid:not(form).ng-touched {
  border-left: 5px solid #a94442;
}

.body-secundario {
  background-color: #ffffff; /* Fondo blanco */
  padding: 15px;
  border: 1px solid #999;
  text-align: center; /* Centrado del contenido */
  margin: 0 auto; /* Centrado horizontal */
  width: 60%; /* Ancho del cuerpo secundario */
  height: 500px;
}

.login-container {
  width: 300px; /* Ancho del contenedor */
  margin: auto; /* Auto-margin para centrar horizontalmente */
  text-align: center; /* Centrar texto */
}
