<body>
    <div id="page-container">
    <div class="container" id="container-1">
        <h2>Crear Categoria</h2>
        <form [formGroup]="createCategoriaForm">
        <p class="text-danger">{{formError}}</p>
        <h3>Nombre:</h3>
        <div id="search-container">
            <input formControlName="nombre" class="form-control" type="text" id="nombre-categoria" placeholder="Ingresar el nombre de la categoria" [(ngModel)]="categoria.nombre">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                <div *ngIf="name.errors?.['required']">
                  El nombre es requerido
                </div>
                <div *ngIf="name.errors?.['max']">
                    El nombre puede tener máximo 25 carácteres
                </div>
            </div>
        </div>
        <div *ngIf="saveCategoriaResponse.mensaje == 'Categoria existente'">
            <p class="text-red-500 text-xs italic">{{saveCategoriaResponse.mensaje}}</p>
        </div>
        <h3>Descripción:</h3>
        <div id="search-container">
            <input formControlName="descripcion" class="form-control" type="text" id="descripcion-categoria" placeholder="Ingresar la descripción de la categoria" [(ngModel)]="categoria.descripcion">
            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="text-danger">
                <div *ngIf="descripcion.errors?.['max']">
                    La descripción puede tener máximo 50 carácteres
                </div>
            </div>
        </div>
    <div class="create-buttons">
        <button routerLink="/intranet" class = "create-button">Cancelar</button>
        <button class="create-button" (click)="saveCategoria()">Aceptar</button>
      </div>
        </form>
    </div>
</div>
</body>