<div *ngIf="tieneAcceso()">
  <div *ngIf="message!==''">
    {{message}}
  </div>
  <div *ngIf="filterFlashCards()[i]!= null">
    <div>
      Concepto: {{filterFlashCards()[i].concepto}}
    </div>
    <div>
      <button (click) = "showAnswer()">Mostrar respuesta</button>
    </div>
    <div *ngIf="mostrarRespuesta">
      Respuesta: {{filterFlashCards()[i].respuesta}}
    </div>
    <div>
      <button (click) = "sumarPunto()">Sumar punto</button>
      <button (click) = "restarPunto()">Restar punto</button>
    </div>
  </div>
</div>
<div *ngIf="!tieneAcceso()">
  <div class="body-secundario">
    <div class="login-container">
      <img src="/assets/images/robot.jpg"><br>
      <h3 class="text-center text-primary iniciarsesion-title">¡Vaya! Al parecer estás intentando entrar a la página</h3>
      <p class="text-center text-black">Lo siento, no te has autenticado. Autentícate para que puedas tener acceso a Learnsync.</p>
    </div>
  </div>
</div>
