<body>
    <div id="page-container">
    <div class="container" id="container-1">
        <h2>Crear Topico</h2>
        <form>
        <h3>Nombre:</h3>
        <div id="search-container">
            <input type="text" id="search-box" placeholder="Ingresar el nombre del tópico" [(ngModel)]="topico.nombre" [ngModelOptions]="{standalone: true}">
        </div>
        <div *ngIf="saveTopicoResponse.mensajeCrear != ''">
            <p class="text-red-500 text-xs italic">{{saveTopicoResponse.mensajeCrear}}</p>
        </div>
        <h3>Descripción:</h3>
        <div id="search-container">
            <input type="text" id="search-box" placeholder="Ingresar la descripción del tópico" [(ngModel)]="topico.descripcion" [ngModelOptions]="{standalone: true}">
        </div>
        <h3>Categoria:</h3>
        <select name="favoriteOnly" id="favoriteOnly" [(ngModel)]="topico.nombreCategoria" [ngModelOptions]="{standalone: true}">
        <option></option>
        <option *ngFor="let categoria of categorias">{{categoria.nombre}}</option>
    </select>
    <div *ngIf="saveTopicoResponse.mensajeNulo != ''">
        <p class="text-red-500 text-xs italic">Escoja una categoría</p>
    </div>
    <div class="create-buttons">
        <button routerLink="/intranet"  class = "create-button">Cancelar</button>
        <button routerLink="/intranet" class="create-button" (click)="saveTopico()">Aceptar</button>
      </div>
        </form>
    </div>
</div>
</body>