<body>
    <div id="page-container">
    <div class="container" id="container-1">
        <h2>Crear Topico</h2>
        <form>
        <h3>Nombre:</h3>
        <div id="search-container">
            <input type="text" id="search-box" required minlength="2" maxlength="50" placeholder="Ingresar el nombre del tópico">
        </div>
        <h3>Descripción:</h3>
        <div id="search-container">
            <input type="text" id="search-box" required minlength="2" placeholder="Ingresar la descripción del tópico">
        </div>
        <h3>Categoria:</h3>
        <select name="favoriteOnly" id="favoriteOnly" required>
        <option></option>
        <option>Primer Ciclo</option>
        <option>Segundo Ciclo</option>
    </select>
    <div class="create-buttons">
        <button routerLink="/intranet"  class = "create-button">Cancelar</button>
        <button routerLink="#" class="create-button">Aceptar</button>
      </div>
        </form>
    </div>
</div>
</body>