body {
    background-color: #8095ff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
  }
  
  p{
    font-size: 28px;
  }
  .container {
    padding: 20px;
  }
  
  .login-form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  .container {
    padding: 20px;
    flex: 1; /* El contenedor llenará el espacio disponible verticalmente */
    display: flex;
    align-items: center;
  }
  
  .login-form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  .form-control {
    background-color: #ecf6ff; /* Cambia este valor al color celeste que desees */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
  }
  
  .input-group {
    display: flex;
    align-items: center;
  }
  
  .input-group-text {
    font-size: 1.5rem;
  }
  
  .button-container {
    text-align: center;
    margin: 3rem;
    padding: 3rem;
    display: grid;
    gap: 2;
    align-items: center;
  }
  
  .iniciar-sesion-button {
    background-color: #0099ff; /* Cambia el color de fondo del botón de Iniciar Sesión a azul */
    color: white; /* Cambia el color del texto a blanco */
    transition: none; /* Elimina la transición en hover */
  }
  
  .iniciar-sesion-button:hover {
    background-color: #0099ff; /* Mantén el color de fondo azul en hover para el botón de Iniciar Sesión */
  }
  
  .learnsync-title {
    font-size: 20pt;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace; /* Aplica la fuente Roboto Mono */
  }
  
  .iniciarsesion-title {
    font-size: 30pt; /* Cambia el tamaño del texto a 24 puntos */
    font-weight: bold; /* Hace que el texto sea negrita */
    font-family: 'Roboto', sans-serif; /* Aplica la fuente Roboto */
  }
  
  .ng-valid:not(form).ng-touched {
    border-left: 5px solid #42a948;
  }
  
  .ng-invalid:not(form).ng-touched {
    border-left: 5px solid #a94442;
  }