<app-header></app-header>
<body>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="/assets/images/doctora.png" alt="Imagen Izquierda" class="img-fluid">
        </div>
        <div class="col-md-4">
          <form class="login-form">
            <h6 class="text-center text-black learnsync-title">LEARNSYNC</h6>
            <h3 class="text-center text-primary iniciarsesion-title">AVISO</h3>
            <p class="text-center text-black">Ingrese a su correo electronico para verificar su cuenta y poder acceder al correo registrado</p>
          </form>
        </div>
        <div class="col-md-4">
          <img src="/assets/images/doctor.png" alt="Imagen Derecha" class="img-fluid">
        </div>
      </div>
    </div>
    
</body>
    <app-footer></app-footer>
