<body>
<div id="formulario">
  <form [formGroup]="createHiloForm">
    <label for="titulo">Título:</label>
    <input formControlName="titulo" type="text" id="titulo" name="titulo" [(ngModel)]="hilo.titulo">
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
      <div *ngIf="name.errors?.['required']">
        El titulo es requerido
      </div>
      <div *ngIf="name.errors?.['max']">
        El titulo debe tener un máximo de 30 carácteres
      </div>
    </div>
    <label for="descripcion">Descripción:</label>
    <textarea formControlName="mensaje" id="descripcion" name="descripcion" [(ngModel)]="hilo.mensaje"></textarea>
    <div *ngIf="message.invalid && (message.dirty || message.touched)" class="text-danger">
      <div *ngIf="message.errors?.['max']">
        El mensaje debe tener un máximo de 200 carácteres
      </div>
    </div>
    <button class="custom-button" type="submit" (click)="saveHilo()">Subir Pregunta</button>
    <button class="custom-button" (click)="regresarHilo()">Regresar</button>
  </form>
     
  </div>
</body>
